<div class="container">
  <div class="container-center">
    <h1>New / Update Consignments </h1>
    <br>
    <h4>*Please upload your bulk consignment csv here with headers in the following order:</h4>
    <div class='headers-csv'>
      <h5>#,Consignment ID, Name, Type, Source, Destination, Entry At, Exit At</h5>
    </div>
    <%= form_tag import_consignments_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
    <% end %>
    <br><br><br>

    <h6>*Please ensure to upload the csv with the headers in order</h6>
    <%= link_to "Back to Goods Index", root_path %>
  </div>
</div>
